@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');

:root {
  --attr-color: rgb(193, 204, 240);
  --white: rgb(255, 255, 255);
  --main-bkg: rgb(9, 11, 26);
  --card-bkg: rgb(27, 25, 56);
  --accent: rgb(170, 92, 219);
  --pg-white: rgba(255, 255, 255, 0.75);
  --heading-white: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}
