/* * 375px - 1440px */
body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-color: var(--main-bkg);
  color: var(--white);
  font-size: 15px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

.font {}

/* Footer */
.footer {
  color: var(--white);
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1.2px;
}

.footer a {
  color: var(--attr-color);
}

.footer a:hover {
  color: var(--attr-color);
  font-weight: bold;
}
