@media screen and (min-width: 500px) {
  .lead {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 700px) and (max-width: 799px) {
  .card {
    max-width: 75%;
  }

  .hero-text {
    max-width: 80%;
    margin: 0 auto;
    padding: 15px;
  }
}

/* TODO: Fix this shit now */
@media screen and (min-width:800px) {
  .card {
    max-width: 85%;
    flex-direction: row;
  }

  .hero-text {
    max-width: 50%;
    text-align: left;
  }

  .graphic {
    order: 1;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }

  .list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width:900px) {
  .lead {
    font-size: 1.8em;
  }

  .sub-lead {
    font-size: 14px;
  }
}

@media screen and (min-width:1024px) {
  .lead {
    font-size: 2.2em;
  }

  .sub-lead {
    font-size: 15px;
  }

  .list {
    margin-right: 15px;
  }
}

@media screen and (min-width:1250px) {
  .card {
    max-width: 80%;
  }
}

@media screen and (min-width:1320px) {
  .card {
    max-width: 80%;
    margin: 25px;
  }

  .lead {
    font-size: 2.4em;
  }
}
